:root {
    --main-body: #23155b;
    --main-primary: #8053ff;
    --main---white: #fff;
    --main---gray: rgba(146, 140, 171, 0.27);
    --main---gray-light: #d4cdef;
}

:root {
    --font-family: "Poppins", sans-serif;
}

@media screen and (min-width: 1420px) {
    .container {
        margin: auto;
        max-width: 1460px;
        width: 100%;
        padding: 0 20px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: var(--main-body);
}

h2 {
    font-family: var(--font-family);
    line-height: 123%;
    font-weight: 700;
    font-size: 52px;
    letter-spacing: 0.02em;
    color: var(--main-body);
    margin: unset;
}

h3 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    color: var(--main-body);
}

h5 {
    font-family: var(--font-family);
    line-height: 156%;
    font-weight: 600;
    font-size: 18px;
    color: var(--main-primary);
    margin: unset;
}

p {
    margin: unset;
}

.colored-text {
    color: var(--main-primary);
}

.btn-primary {
    border-radius: 8px;
    width: 232px;
    height: 60px;
    background: var(--main-primary);
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    color: var(--main---white);
    font-weight: 500;
    font-size: 18px;
    line-height: 200%;
}

.btn-secondary {
    border-radius: 8px;
    width: 232px;
    height: 60px;
    background: var(--main---white);
    align-items: center;
    justify-content: center;
    border: 1px solid var(--main-primary);
    font-family: var(--font-family);
    color: var(--main-primary);
    font-weight: 500;
    font-size: 18px;
    line-height: 200%;
}

.btn__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 476px;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: var(--main---white);
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 116px;
    background-color: var(--main---white);
    width: 100%;
}

.main-header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo > span {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 222%;
    color: var(--main-body);
    margin-left: 10px;
}

.main-header h1 {
    display: flex;
    align-items: center;
    margin: 0;
}

.nav__menu nav, ul, li {
    display: flex;
    align-items: center;
    font-family: var(--font-family);
    list-style-type: none;
    padding: 0 0 0 20px;
}

a {
    text-decoration: none;
    display: flex;
    color: var(--main-body);
    font-family: var(--font-family);
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 168px 385px;
    margin-bottom: 200px;
    border-radius: 24px;
    background: rgba(237, 233, 246, .25) center/100% url(https://media.discordapp.net/attachments/691451915044913185/1219810867873583155/bg.png?ex=660ca865&is=65fa3365&hm=e6a577a7e8f284e570e3398f198f4f24c1fb54ff98922daa852e6aab5d6fdacb&=&format=webp&quality=lossless) no-repeat;
}

.hero__content h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 64px;
    line-height: 150%;
    text-align: center;
    color: var(--main-body);
    margin: 0;
}

.hero__content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: var(--main-body);
    margin: 0 0 40px;
}

.hr-line {
    display: flex;
    justify-content: center;
    padding: 0 0 48px 0;
}

.hr-line h3 {
    margin: 0 20px 0 20px;
}

.list__sponsors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1180px;
    margin: auto;
}

.fundraising {
    height: 1048px;
}

.fundraising__content {
    padding: 200px 0;
    width: 1180px;
    height: 648px;
    margin: auto;
}

.fundraising__content h2 {
    position: absolute;
}

.list__items-numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-end;
}

.list__items-numbers p {
    font-family: var(--font-family);
}

.list__items-numbers li {
    border-radius: 8px;
    box-shadow: 0 14px 64px -4px rgba(35, 21, 91, 0.05), 0 8px 12px -6px rgba(35, 21, 91, 0.05);
    background: var(--main---white);
    width: 580px;
    margin-bottom: 10px;
}

.list__items-numbers ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.list__items ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: unset;
    margin: 40px 0;
    align-items: unset;
}

.list__items li {
    flex: 0 1 calc(50% - 10px);
    margin: unset;
    padding: unset;
    border-radius: 8px;
    box-shadow: 0 14px 64px -4px rgba(35, 21, 91, 0.05), 0 8px 12px -6px rgba(35, 21, 91, 0.05);
    background: var(--main---white);
}

.list__items li .list__item {
    display: flex;
    padding: 24px;
    width: 100%;
}

.list__items p {
    font-family: var(--font-family);
    font-size: 18px;
    color: var(--main-body);
    line-height: 24px;
    margin-bottom: 4px;
}

.item-number {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    color: var(--main-primary);
    margin-right: 12px;
    margin-bottom: 45px;
}

.for_projects {
    border-radius: 250px 0 0 0;
    background: rgba(237, 233, 246, .25) center/100% no-repeat url(https://media.discordapp.net/attachments/691451915044913185/1220364514051100682/bg.png?ex=660eac05&is=65fc3705&hm=c3388af0a5ec31f45cec47719aa4ccefa73a48b2669f94d7933316e79ff1a076&=&format=webp&quality=lossless&);
}

.for_projects .container {
    max-width: 1180px;
    padding: 200px 0;
}

.for_projects__content h5 {
    line-height: 156%;
}

.for_projects__content h2 {
    line-height: 123%;
    margin: 0 0 10px;
}

.for_projects__content .for_projects__content-description {
    font-family: var(--font-family);
    max-width: 616px;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: var(--main-body);
}

.list__item-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--main---gray);
    line-height: 24px;
}

.list__item-checkmark {
    margin-right: 12px;
}

.for_investors {
    border-radius: 0 250px 0 0;
    background: rgba(237, 233, 246, .25) center/100% no-repeat url(https://cdn.discordapp.com/attachments/691451915044913185/1220354599576145940/bg.png?ex=660ea2c9&is=65fc2dc9&hm=1ca7504f6c6b3c890ba7e9532e0f4806f74e3660f4251e76502baedad6245b2f&);
}

.for_investors .container {
    max-width: 1180px;
    padding: 200px 0;
}

.about .container {
    max-width: 1920px;
    padding: 0 0 200px;
    display: flex;
    align-items: center;
}

.about__content {
    max-width: 579px;
    margin-left: 260px;
}
.about__content .logo{
    margin-bottom: 16px;

}
.about__content h2 {
    margin-bottom: 52px;
}
.about__content p{
    font-size: 18px;
    line-height: 156%;
    color: var(--main-body);
    font-family: var(--font-family);
}

.about img {
    border-radius: 0 200px 200px 0;
}

.sponsors-footer {
    padding: 0 0 200px 0;
}